.header
  height: 100px
  line-height: 100px
  margin-bottom: 70px
  box-sizing: border-box
  padding: 0 50px 0 60px
  color: #FFF
  background: $darkblue
  +clr

.header__left
  float: left

.header__right
  float: right

.header_transparent
  background: none
  position: relative
  z-index: 1
  margin-bottom: 0
  .nav__link
    &:hover
      color: $darkblue


.header-wrap
  position: relative
  height: 514px
  background: lighten($darkblue, 5%)
  &:before
    content: ""
    position: absolute
    z-index: 0
    top: 100px
    left: 0
    right: 0
    bottom: 0
    background: img-url('header-bg.jpg') no-repeat center center
    +rmin(1400)
      background-size: cover
  .header
    position: relative
    z-index: 1

.header-wrap_team
  &:before
    background-image: img-url('header-bg-team.jpg')

.header-wrap_careers
  &:before
    background-image: img-url('header-bg-careers.jpg')

.header-wrap_press
  &:before
    background-image: img-url('header-bg-press.jpg')


.logo
  display: inline-block
  vertical-align: middle
  position: relative
  top: -1px
  line-height: 1
  +hide-text
  background: img-url('svg/logo.svg') no-repeat center center
  width: 143px
  height: 40px


.nav
  font-size: 0

.nav__menu
  display: inline-block
  vertical-align: middle

.nav__login
  display: inline-block
  vertical-align: middle
  &:before
    content: ""
    display: inline-block
    vertical-align: middle
    margin: 0 15px
    width: 1px
    height: 50px
    background: #EFEFEF
    opacity: 0.5

.nav__list-item
  display: inline-block
  vertical-align: middle
  margin-right: 15px
  &:last-child
    margin-right: 0

.nav__link
  display: inline-block
  vertical-align: middle
  position: relative
  top: 1px
  +f(m, 13)
  line-height: 1.5
  color: inherit
  text-transform: uppercase
  text-decoration: none
  > b, strong
    +f(b)
  &:hover
    color: $lightblue
  &:active,
  &.is-active
    color: $yellow
