html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: 'icons'; src: url("../fonts/icons.eot?dmsddr"); src: url("../fonts/icons.eot?#iefixdmsddr") format("embedded-opentype"), url("../fonts/icons.ttf?dmsddr") format("truetype"), url("../fonts/icons.woff?dmsddr") format("woff"), url("../fonts/icons.svg?dmsddr#icons") format("svg"); font-weight: normal; font-style: normal; }
.icon { font-family: 'icons'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-gears:before { content: "\e60a"; }

.icon-heart-bitcoin:before { content: "\e609"; }

.icon-safe:before { content: "\e60b"; }

.icon-fb:before { content: "\e606"; }

.icon-gplus:before { content: "\e607"; }

.icon-tw:before { content: "\e608"; }

.icon-slider-arr:before { content: "\e605"; }

.icon-okpay:before { content: "\e600"; }

.icon-sepa:before { content: "\e601"; }

.icon-skrill:before { content: "\e602"; }

.icon-sofort:before { content: "\e603"; }

.icon-swift:before { content: "\e604"; }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
[dir="rtl"] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

@font-face { font-family: "AvenirNext-Bold"; src: url("../fonts/AvenirNext-Bold.eot"); src: url("../fonts/AvenirNext-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Bold.woff") format("woff"), url("../fonts/AvenirNext-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "AvenirNext-BoldItalic"; src: url("../fonts/AvenirNext-BoldItalic.eot"); src: url("../fonts/AvenirNext-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-BoldItalic.woff") format("woff"), url("../fonts/AvenirNext-BoldItalic.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "AvenirNext-DemiBold"; src: url("../fonts/AvenirNext-DemiBold.eot"); src: url("../fonts/AvenirNext-DemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-DemiBold.woff") format("woff"), url("../fonts/AvenirNext-DemiBold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "AvenirNext-DemiBoldItalic"; src: url("../fonts/AvenirNext-DemiBoldItalic.eot"); src: url("../fonts/AvenirNext-DemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-DemiBoldItalic.woff") format("woff"), url("../fonts/AvenirNext-DemiBoldItalic.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "AvenirNext-Heavy"; src: url("../fonts/AvenirNext-Heavy.eot"); src: url("../fonts/AvenirNext-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Heavy.woff") format("woff"), url("../fonts/AvenirNext-Heavy.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "AvenirNext-HeavyItalic"; src: url("../fonts/AvenirNext-HeavyItalic.eot"); src: url("../fonts/AvenirNext-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-HeavyItalic.woff") format("woff"), url("../fonts/AvenirNext-HeavyItalic.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "AvenirNext-Italic"; src: url("../fonts/AvenirNext-Italic.eot"); src: url("../fonts/AvenirNext-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Italic.woff") format("woff"), url("../fonts/AvenirNext-Italic.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "AvenirNext-Medium"; src: url("../fonts/AvenirNext-Medium.eot"); src: url("../fonts/AvenirNext-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Medium.woff") format("woff"), url("../fonts/AvenirNext-Medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "AvenirNext-MediumItalic"; src: url("../fonts/AvenirNext-MediumItalic.eot"); src: url("../fonts/AvenirNext-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-MediumItalic.woff") format("woff"), url("../fonts/AvenirNext-MediumItalic.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "AvenirNext-Regular"; src: url("../fonts/AvenirNext-Regular.eot"); src: url("../fonts/AvenirNext-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Regular.woff") format("woff"), url("../fonts/AvenirNext-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "AvenirNext-UltraLight"; src: url("../fonts/AvenirNext-UltraLight.eot"); src: url("../fonts/AvenirNext-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-UltraLight.woff") format("woff"), url("../fonts/AvenirNext-UltraLight.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "AvenirNext-UltraLightItalic"; src: url("../fonts/AvenirNext-UltraLightItalic.eot"); src: url("../fonts/AvenirNext-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-UltraLightItalic.woff") format("woff"), url("../fonts/AvenirNext-UltraLightItalic.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: "AvenirNext-Regular", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 18px; line-height: 1.4; color: #343558; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.out { overflow: hidden; }

a { color: inherit; -webkit-transition: color 0.15s linear; transition: color 0.15s linear; }
a:hover { color: #F8CF5E; }

b, strong { font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif; font-weight: normal; }

.l-center { width: 100%; max-width: 960px; margin: auto; padding: 0 20px; }

.l-center-narrow { width: 100%; max-width: 640px; margin: auto; padding: 0 20px; }

.l-column { float: left; box-sizing: border-box; width: 50%; padding: 0 20px; }

.l-columns { margin: 0 -20px; }
.l-columns:after { content: " "; display: table; clear: both; }
.l-columns.three .l-column { width: 33.333%; }

.l-columns_wide { margin: 0; }
.l-columns_wide .l-column { padding-left: 4.86111%; padding-right: 4.86111%; }

.bold-title { display: block; font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 32px; letter-spacing: 0.03em; text-transform: uppercase; color: inherit; text-align: center; line-height: 1.375; }

.title { display: block; margin-bottom: 40px; text-align: center; font-family: "AvenirNext-Regular", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 28px; line-height: 1.357; text-transform: uppercase; color: inherit; }
.title > b, .title strong { font-family: "AvenirNext-DemiBold", Helvetica, Arial, sans-serif; font-weight: normal; }
.title .icon { display: block; margin: auto; font-size: 68px; margin-bottom: 60px; }
.title .icon-heart-bitcoin { margin-bottom: 27px; }

.title_white { color: #FFF; }

.title_left { text-align: left; }

.title_mrg0 { margin: 0; }

.title_lrg { margin-bottom: 70px; font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 45px; letter-spacing: 0.027em; line-height: 1.35; }
.title_lrg .icon { margin-bottom: 40px; }

.small-text { font-family: "AvenirNext-Regular", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.35; color: #343558; }

.list-circle { font-family: "AvenirNext-DemiBold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 18px; line-height: 1.667; color: #343558; }
.list-circle > li { padding-left: 1em; position: relative; }
.list-circle > li:before { content: ""; position: absolute; top: 0.66667em; left: 0; width: 0; height: 0; border: 3px solid; border-radius: 50%; }
.list-circle a { color: inherit; }

.custom-list { padding: 0 30px; }

.custom-list__item { padding-left: 100px; position: relative; line-height: 50px; }
.custom-list__item:not(:last-child) { margin-bottom: 30px; }
.custom-list__item:nth-child(2n) .custom-list__marker:before { background: #343558; }
.custom-list__item:nth-child(3n) .custom-list__marker:before { background: #93C4D2; }

.custom-list__marker { position: absolute; z-index: 0; top: 3px; left: 0; width: 50px; height: 50px; box-sizing: border-box; padding: 24px 12px 8px 8px; text-align: right; color: #FFF; font-family: "AvenirNext-Regular", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 18px; line-height: 18px; }
.custom-list__marker:before { content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #F8CF5E; -webkit-transform: skewX(-16.6deg); -ms-transform: skewX(-16.6deg); transform: skewX(-16.6deg); }

.custom-list__text { display: inline-block; vertical-align: middle; font-family: "AvenirNext-Medium", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 18px; line-height: 1.67; }

.form .btn { display: block; margin: 27px auto 0; }

.form__title { display: block; margin-bottom: 14px; text-transform: uppercase; text-align: center; font-family: "AvenirNext-Regular", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 18px; line-height: 1.4; }
.form__title > b, .form__title strong { font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif; font-weight: normal; }

.form__text { font-family: "AvenirNext-Medium", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.37; color: #343558; }
.form__text:not(:last-child) { margin-bottom: 12px; }

.form_white-bounds { padding: 22px 40px 30px; background: none; border: 6px solid #FFF; box-shadow: 0 0 11px rgba(0, 0, 0, 0.11); }

.field { position: relative; margin: 5px 0; }

.input { display: block; width: 100%; height: 44px; padding: 10px 14px; border: 2px solid #343558; border-radius: 2px; box-sizing: border-box; font-family: "AvenirNext-Medium", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.42; color: #343558; text-transform: uppercase; background: none; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), inset 0 -3px 15px rgba(255, 255, 255, 0.38); }
.input:-ms-input-placeholder { font-family: "AvenirNext-Regular", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.42; color: #343558; transition: opacity 0.1s linear; }
.input::-moz-placeholder { font-family: "AvenirNext-Regular", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.42; color: #343558; transition: opacity 0.1s linear; }
.input::-webkit-input-placeholder { font-family: "AvenirNext-Regular", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.42; color: #343558; -webkit-transition: opacity 0.1s linear; transition: opacity 0.1s linear; }
.input::placeholder { font-family: "AvenirNext-Regular", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.42; color: #343558; -webkit-transition: opacity 0.1s linear; transition: opacity 0.1s linear; }
.input:focus:-ms-input-placeholder { opacity: 0; }
.input:focus::-moz-placeholder { opacity: 0; }
.input:focus::-webkit-input-placeholder { opacity: 0; }
.input:focus::placeholder { opacity: 0; }

.divider { width: 100%; max-width: 960px; margin: auto; background: #343558; height: 6px; border: none; }

.divider_mrg80 { margin-top: 80px; margin-bottom: 80px; }

.divider_mrg60 { margin-top: 60px; margin-bottom: 60px; }

.divider_md { max-width: 830px; }

.clearfix { display: table; width: 100%; clear: both; }

.btn { display: inline-block; position: relative; height: 45px; padding: 0 20px; background: none; box-sizing: border-box; font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; letter-spacing: 0.07em; text-align: center; text-transform: uppercase; color: #343558; -webkit-transition: color 0.15s linear; transition: color 0.15s linear; }
.btn:before { content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #FFF; -webkit-transition: background 0.15s linear; transition: background 0.15s linear; -webkit-transform: skewX(-16.6deg); -ms-transform: skewX(-16.6deg); transform: skewX(-16.6deg); }
.title + .btn { margin-top: 6px; }
.btn:hover { color: #343558; }
.btn:hover:before { background: #F8CF5E; }

a.btn { text-decoration: none; line-height: 45px; }

.btn_yellow:before { background: #F8CF5E; }
.btn_yellow:hover:before { background: #93C4D2; }

.btn_center { display: block; margin: auto; }

.btn_lrg { height: 60px; padding-left: 40px; padding-right: 40px; }

a.btn_lrg { line-height: 60px; }

.btn_w200 { width: 200px; }

.social-btn { text-decoration: none; display: inline-block; vertical-align: middle; background: none; font-family: "AvenirNext-Medium", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; margin-right: 40px; }
.social-btn:last-child { margin-right: 0; }
.social-btn .icon { display: inline-block; vertical-align: middle; }
.social-btn .icon + * { margin-left: 5px; }
.social-btn .icon-tw { font-size: 16px; }
.social-btn .icon-fb { font-size: 20px; }
.social-btn .icon-gplus { font-size: 19px; }
.social-btn > span { display: inline-block; vertical-align: middle; }
.social-btn:hover { color: #F8CF5E; }

.header { height: 100px; line-height: 100px; margin-bottom: 70px; box-sizing: border-box; padding: 0 50px 0 60px; color: #FFF; background: #343558; }
.header:after { content: " "; display: table; clear: both; }

.header__left { float: left; }

.header__right { float: right; }

.header_transparent { background: none; position: relative; z-index: 1; margin-bottom: 0; }
.header_transparent .nav__link:hover { color: #343558; }

.header-wrap { position: relative; height: 514px; background: #3d3f68; }
.header-wrap:before { content: ""; position: absolute; z-index: 0; top: 100px; left: 0; right: 0; bottom: 0; background: url('/img/header-bg.jpg') no-repeat center center; }
@media only screen and (min-width: 1400px) { .header-wrap:before { background-size: cover; } }
.header-wrap .header { position: relative; z-index: 1; }

.logo { display: inline-block; vertical-align: middle; position: relative; top: -1px; line-height: 1; font: 0/0 a; text-shadow: none; color: transparent; background: url("../img/svg/logo.svg") no-repeat center center; width: 143px; height: 40px; }

.nav { font-size: 0; }

.nav__menu { display: inline-block; vertical-align: middle; }

.nav__login { display: inline-block; vertical-align: middle; }
.nav__login:before { content: ""; display: inline-block; vertical-align: middle; margin: 0 15px; width: 1px; height: 50px; background: #EFEFEF; opacity: 0.5; }

.nav__list-item { display: inline-block; vertical-align: middle; margin-right: 15px; }
.nav__list-item:last-child { margin-right: 0; }

.nav__link { display: inline-block; vertical-align: middle; position: relative; top: 1px; font-family: "AvenirNext-Medium", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 13px; line-height: 1.5; color: inherit; text-transform: uppercase; text-decoration: none; }
.nav__link > b, .nav__link strong { font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif; font-weight: normal; }
.nav__link:hover { color: #93C4D2; }
.nav__link:active, .nav__link.is-active { color: #F8CF5E; }

.footer { margin-top: 240px; padding-bottom: 110px; }
.footer .divider { margin: 20px 0 25px; }

.footer__links { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; font-family: "AvenirNext-Medium", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.36; text-transform: uppercase; }
.footer__links li { display: inline-block; }
.footer__links a { text-decoration: none; -webkit-transition: color 0.15s linear; transition: color 0.15s linear; }
.footer__links a:hover { color: #F8CF5E; }

.footer__links_small { text-transform: none; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }

.footer__social { margin-top: 90px; text-align: center; }

.footer_bg { background: #F5F5F7; position: relative; z-index: 0; }
.footer_bg:before { content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; height: 39px; background: #FFF; }
.footer_bg .l-center-narrow { position: relative; z-index: 1; }

.toparea { position: relative; margin-bottom: 118px; z-index: 0; min-height: 100vh; color: #FFF; }
.toparea:after { content: " "; display: table; clear: both; }

.toparea__bg { position: absolute; z-index: 0; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden; background: #93C4D2; }
.toparea__bg:before { content: ""; position: absolute; left: 0; height: 100%; width: 62.5%; background: #C1A988 url("../img/toparea-iphone.jpg") no-repeat center center; background-size: cover; }
.toparea__bg:after { content: ""; position: absolute; z-index: 1; top: 0; right: -140px; bottom: 0; width: 62.5%; min-width: 840px; background: #93C4D2; -webkit-transform: skewX(-16.6deg); -ms-transform: skewX(-16.6deg); transform: skewX(-16.6deg); }

.toparea__content { float: right; position: relative; z-index: 1; padding: 25px 0 40px; max-width: 404px; clear: both; }
.toparea__content .bold-title { margin-bottom: 3px; }
.toparea__content .list-circle { margin-left: 45px; }
.toparea__content .form { margin-top: 50px; }

.step { text-align: center; font-family: "AvenirNext-Medium", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 18px; line-height: 1.333; color: #343558; }
.step a { color: inherit; }

.step__icon { font-size: 0; min-height: 83px; margin-bottom: 18px; }

.step__title { display: block; margin-bottom: 19px; font-family: "AvenirNext-DemiBold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 28px; text-transform: uppercase; }

.step__text { max-width: 200px; margin: auto; }

.usage-map { float: left; width: 45.83333%; margin-left: -45px; }
.usage-map img { display: block; margin: auto; max-width: 100%; }
.usage-map .small-text { margin: 5px 0 0 70px; }

.currencies { float: right; width: 50%; }
.currencies:after { content: " "; display: table; clear: both; }
.currencies .icon { font-size: 12px; }
.currencies .icon-skrill { font-size: 13px; }

.currencies__left { float: left; width: 50%; }

.currencies__right { float: right; width: 41.66667%; }

.small-table { font-family: "AvenirNext-DemiBold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 15px; line-height: 1.55; }
.small-table caption { margin-bottom: 4px; font-family: "AvenirNext-UltraLight", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 18px; line-height: 1.38; text-transform: uppercase; text-align: left; }
.small-table td, .small-table th { padding: 8px 20px 8px 0; }
.small-table td:first-child, .small-table th:first-child { padding-left: 0; }
.small-table td:last-child, .small-table th:last-child { padding-right: 0; }
.small-table tr { border: 1px solid #93C4D2; border-width: 1px 0; }
.small-table + .small-text { margin-top: 12px; }

.small-table_mod { table-layout: fixed; }
.small-table_mod td, .small-table_mod th { padding-right: 0; text-align: center; }
.small-table_mod td:first-child, .small-table_mod th:first-child { text-align: left; }
.small-table_mod td:last-child, .small-table_mod th:last-child { text-align: right; }
.small-table_mod + .small-table_mod { margin-top: 51px; }

.skew-box { -webkit-transform: skewY(-4.85deg); -ms-transform: skewY(-4.85deg); transform: skewY(-4.85deg); background: #93C4D2; overflow: hidden; margin: 140px 0 100px; }

.skew-box__inner { padding: 80px 0; position: relative; -webkit-transform: skewY(4.85deg); -ms-transform: skewY(4.85deg); transform: skewY(4.85deg); }

.skew-box_shadow .skew-box__inner { padding-bottom: 0; }
.skew-box_shadow .skew-box__inner:after { content: ""; position: absolute; bottom: -82px; left: 0; right: 0; height: 152px; background-image: -webkit-linear-gradient(270deg, rgba(147, 196, 210, 0) 0%, #93C4D2 100%); background-image: linear-gradient(-180deg, rgba(147, 196, 210, 0) 0%, #93C4D2 100%); pointer-events: none; }

.skew-box_two-colors { position: relative; }
.skew-box_two-colors:before, .skew-box_two-colors:after { content: ""; position: absolute; z-index: -1; top: 0; bottom: 0; left: 0; right: 0; }
.skew-box_two-colors:before { right: 50%; background: #F8CF5E; }
.skew-box_two-colors:after { left: 50%; background: #343558; }

.skew-box_stats .skew-box__inner { padding: 110px 0; }

.skew-box_yellow { background: #F8CF5E; margin-bottom: 0; }

.skew-box_blue { background: #343558; color: #F8CF5E; margin-top: 0; }

.color-wrapper { margin: 60px 0; padding: 60px 0 100px; position: relative; background: #F5F5F7; }
.color-wrapper > .divider:first-child { position: absolute; top: 0; left: 0; right: 0; }

.color-wrapper_lightblue { background: #93C4D2; }

.interface { margin: 40px -20px 0; }
.interface:after { content: " "; display: table; clear: both; }

.interface__item { width: 33.333%; float: left; }

.interface__text { text-align: center; font-family: "AvenirNext-Medium", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 18px; margin-bottom: 23px; }

.interface__pic { margin: auto; margin-bottom: -260px; }
.interface__pic.first { background-image: url('/img/interface/interface-1.png'); width: 279px; height: 569px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .interface__pic.first { background-image: url('/img/interface/interface-1-2x.png'); background-size: 279px 569px; } }
.interface__pic.second { background-image: url('/img/interface/interface-2.png'); width: 277px; height: 564px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .interface__pic.second { background-image: url('/img/interface/interface-2-2x.png'); background-size: 277px 564px; } }
.interface__pic.third { background-image: url('/img/interface/interface-3.png'); width: 277px; height: 564px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .interface__pic.third { background-image: url('/img/interface/interface-3-2x.png'); background-size: 277px 564px; } }

.numbers-list { margin: 0 -60px; }
.numbers-list:after { content: " "; display: table; clear: both; }

.numbers-list__item { position: relative; float: left; width: 33.3333%; text-align: center; }
.numbers-list__item:not(:last-child):after { content: ""; position: absolute; top: 50%; right: 0; width: 6px; height: 132px; background: #FFF; margin: -66px -3px 0 0; -webkit-transform: skewX(-16.6deg); -ms-transform: skewX(-16.6deg); transform: skewX(-16.6deg); }

.number { display: inline-block; font-family: "AvenirNext-DemiBold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 18px; line-height: 1.333; text-align: left; }

.number__value { display: block; font-family: "AvenirNext-DemiBold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 32px; position: relative; left: -0.875em; color: #FFF; letter-spacing: -0.03em; }

.number_mod .number__value { font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 45px; line-height: 1.2; color: #93C4D2; left: 0; }

.testimonials:after { content: " "; display: table; clear: both; }

.testimonial { float: left; width: 33.333%; padding: 0 20px; box-sizing: border-box; }

.flexbox .testimonials { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; -webkit-align-content: space-between; -ms-flex-line-pack: justify; align-content: space-between; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
.flexbox .testimonials:after { display: none; }
.flexbox .testimonial { max-width: 220px; float: none; width: auto; padding: 0; }

.testimonial__pic { width: 200px; height: 200px; margin-bottom: 12px; box-sizing: border-box; border: 5px solid #93C4D2; overflow: hidden; background: #93C4D2; }
.testimonial__pic img { display: block; width: 100%; height: 100%; max-width: 100%; }

.testimonial__text { font-family: "AvenirNext-Medium", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 18px; line-height: 1.4; }
.testimonial__text .person { margin-top: 18px; }

.person { display: block; font-family: "AvenirNext-DemiBold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.57; color: #93C4D2; font-style: normal; }
.person:before { content: ""; display: block; width: 60px; border: 1px solid; margin-bottom: 12px; }

.person__name { display: block; font-family: "AvenirNext-DemiBold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; color: #343558; }

.person__location { display: block; text-transform: uppercase; }

.press-slider { overflow: hidden; }

.press-slider__slide { font-family: "AvenirNext-Italic", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 18px; color: #000; text-align: center; }

.press-slider__nav { margin-bottom: 30px; font-size: 0; position: relative; }

.press-slider__btn { display: inline-block; vertical-align: middle; height: 30px; width: 25%; box-sizing: border-box; padding: 0 10px; background: none; text-align: center; position: relative; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.press-slider__btn:before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #FFF; opacity: 0.8; -webkit-transition: all 0.15s linear; transition: all 0.15s linear; pointer-events: none; }
.press-slider__btn img { max-width: 100%; max-height: 100%; }
.press-slider__btn:hover:before, .press-slider__btn.is-active:before { opacity: 0; visibility: hidden; }

.press-slider__arrow { position: absolute; top: 100%; left: -100px; font-size: 7px; color: #93C4D2; width: 64px; margin: 10px 0 0 -32px; -webkit-transition: left 0.3s ease; transition: left 0.3s ease; }

.security { display: table; width: 100%; table-layout: fixed; border-collapse: collapse; }
.security .title { margin-bottom: 6px; }

.security__column { display: table-cell; width: 50%; font-family: "AvenirNext-Medium", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 20px; line-height: 1.35; text-align: left; }
.security__column:first-child { padding-right: 10.9375%; text-align: right; }
.security__column:first-child .title { text-align: right; }
.security__column:last-child { padding-left: 10.9375%; color: #F8CF5E; }
.security__column:last-child .title { color: #F8CF5E; text-align: left; }

.security__figure { font-size: 0; }
.security__figure img { max-width: 100%; }

.expert { display: table; table-layout: fixed; width: 100%; max-width: 370px; margin: auto; }

.expert__pic { display: table-cell; vertical-align: top; width: 120px; }
.expert__pic img { display: block; max-width: 100%; width: 100%; }

.expert__info { display: table-cell; vertical-align: middle; padding-left: 7.56757%; font-family: "AvenirNext-Medium", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 18px; }

.expert__contact { display: inline-block; margin-top: 1.38em; }

.promo { margin-top: 150px; }
.promo > .divider:first-child { margin-top: 0; }

.member { display: table; width: 100%; table-layout: fixed; }

.member__pic { display: table-cell; vertical-align: top; width: 220px; overflow: hidden; }
.member__pic img { display: block; width: 100%; max-width: 100%; }

.member__info { display: table-cell; vertical-align: middle; padding-left: 10.15625%; }

.member__quote { min-height: 260px; position: relative; font-size: 35px; line-height: 1.22; text-transform: uppercase; box-sizing: border-box; padding-bottom: 35px; }
.member__quote b, .member__quote strong { font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif; font-weight: normal; }
.member__quote .member__cite { position: absolute; bottom: 0; left: 0; }

.member__cite { font-family: "AvenirNext-Medium", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; font-style: normal; display: block; text-transform: none; }

.member_mrg { margin-top: 60px; margin-bottom: 60px; }

.text { font-family: "AvenirNext-Medium", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 18px; line-height: 1.7; }
.text p, .text ul, .text ol { margin: 1em 0; }
.text p:first-child, .text ul:first-child, .text ol:first-child { margin-top: 0; }
.text p:last-child, .text ul:last-child, .text ol:last-child { margin-bottom: 0; }
.text blockquote { display: block; width: 60%; margin: 80px 0 80px -50px; text-transform: uppercase; font-family: "AvenirNext-Regular", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 28px; line-height: 1.35; color: #93C4D2; }

.text_center { text-align: center; }

.advantage { table-layout: fixed; display: table; max-width: 1200px; width: 100%; margin: 15px auto 50px; }
.advantage .title { text-align: left; margin-bottom: 70px; }

.advantage__pic { display: table-cell; vertical-align: bottom; width: 40%; padding: 0 20px; }
.advantage__pic img { display: block; max-width: 100%; }

.advantage__text { display: table-cell; vertical-align: middle; padding: 0 20px; }

.inner-nav { font-size: 0; text-align: center; margin-bottom: 100px; }

.inner-nav__link { position: relative; display: inline-block; width: 160px; text-decoration: none; font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; letter-spacing: 0.02em; line-height: 60px; white-space: nowrap; text-transform: uppercase; }
.inner-nav__link:after { content: ""; position: absolute; bottom: 0; left: 0; right: 0; height: 0; border-top: 6px solid; }
.inner-nav__link:hover { color: #93C4D2; }
.inner-nav__link:active, .inner-nav__link.is-active { color: #F8CF5E; }

.overview:after { content: " "; display: table; clear: both; }
.overview .title { text-align: left; }
.overview .number:not(:last-child) { margin-bottom: 25px; }

.overview__text { float: left; width: 66.66667%; }

.overview__numbers { float: right; width: 20.83333%; }

.statement .title_lrg { margin-bottom: 50px; }
.statement:not(:first-child) { margin-top: 140px; }
.statement:not(:last-child) { margin-bottom: 140px; }

.statement__list > li:not(:first-child) { margin-top: 230px; }

.roadmap { position: relative; width: 100%; height: 550px; max-width: 800px; margin: auto; }
.roadmap .title { position: absolute; top: 0; left: 0; }

.roadmap__list { position: absolute; left: 50%; top: 50%; width: 110%; height: 6px; background: #343558; font-size: 0; -webkit-transform: translate(-50%, -50%) rotate(-37deg); -ms-transform: translate(-50%, -50%) rotate(-37deg); transform: translate(-50%, -50%) rotate(-37deg); }

.roadmap__point { display: inline-block; vertical-align: middle; position: relative; width: 0; height: 0; -webkit-transform: rotate(37deg); -ms-transform: rotate(37deg); transform: rotate(37deg); }
.roadmap__point:not(:first-child) { margin-left: 14.27%; }
.roadmap__point:before { content: ""; position: absolute; top: 50%; left: 50%; width: 25px; height: 25px; border: 3px solid #343558; background: #F8CF5E; box-sizing: border-box; margin: -11px 0 0 -11px; border-radius: 50%; }
.roadmap__point:nth-child(2n) .roadmap__text { bottom: auto; right: auto; top: 0; left: 0; margin: 30px 0 0; }

.roadmap__text { position: absolute; bottom: 0; left: 0; margin: 0 0 40px -50px; width: 100px; font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; }

.roadmap__date { display: block; text-transform: uppercase; margin-bottom: 5px; }

.hiring { color: #F8CF5E; }
.hiring .text, .hiring .title { max-width: 240px; margin-left: auto; margin-right: auto; }



/*# sourceMappingURL=screen.css.map */