.l-center-narrow
  ul.footer__links
    li: a(href="about-us.html") About us
    li: a(href="about-btc.html") About Bitcoin
    li: a(href="security.html") Security
    li: a(href="#") Merchants
    li: a(href="#") Sign up
    li: a(href="#") Login

  hr.divider

  ul.footer__links.footer__links_small
    li: a(href="#") Team
    li: a(href="#") Careers
    li: a(href="#") Press
    li: a(href="#") T&C
    li: a(href="#") Privacy
    li: a(href="#") API
    li: a(href="#") Facebook
    li: a(href="#") Twitter
    li: a(href="#") Blog
    li: a(href="#") Contact
    li: a(href="#") Help

  .footer__social
    a.social-btn(href="#")
      i.icon.icon-tw
      span 2500
    a.social-btn(href="#")
      i.icon.icon-fb
      span 1000
    a.social-btn(href="#")
      i.icon.icon-gplus
      span 1000