.header__left
  a.logo(href="pages.html")
    | Cubits

.header__right
  nav.nav
    ul.nav__menu
      li.nav__list-item
        a.nav__link(href="about-us.html")
          | About us
      li.nav__list-item
        a.nav__link(href="about-btc.html")
          | About bitcoin
      li.nav__list-item
        a.nav__link(href="security.html")
          | Security
      li.nav__list-item
        a.nav__link(href="merchans.html")
          | For merchants

    ul.nav__login
      li.nav__list-item
        a.nav__link(href="#")
          b Sign up
      li.nav__list-item
        a.nav__link(href="#")
          b Login