//BEGIN header
.header
  .header__left
    a.logo(href="/")
      | Cubits

  .header__right
    nav.nav
      ul.nav__menu
        li.nav__list-item
          a.nav__link(href="#") 
            | About us
        li.nav__list-item
          a.nav__link(href="#") 
            | About bitcoin
        li.nav__list-item
          a.nav__link(href="#") 
            | Security
        li.nav__list-item
          a.nav__link(href="#") 
            | For merchants

      ul.nav__login
        li.nav__list-item
          a.nav__link(href="#")
            b Sign up
        li.nav__list-item
          a.nav__link(href="#")
            b Login
//END header