//BEGIN inner-nav
nav.inner-nav
  a.inner-nav__link.is-active(href="about-us.html")
    | About
  a.inner-nav__link(href="team.html")
    | Team
  a.inner-nav__link(href="careers.html")
    | Careers
  a.inner-nav__link(href="press.html")
    | Press
//END inner-nav