extends _layout

block title
  title About Bitcoin

block content
  //BEGIN testimonials
  section.l-center
    h1.title.title_large
      | About Bitcoin

    .testimonials
      .testimonial
        .testimonial__pic
          img(src="img/eric-schmidt.jpg", alt="")
        blockquote.testimonial__text
          p.
            “Bitcoin is a remarkable cryptographic achievement
            and the ability to create something that is not
            duplicable in the digital world has enormous value”
          cite.cite
            strong.cite__name Eric Schmidt
            span.cite__about CEO of Google

      .testimonial
        .testimonial__pic
          img(src="img/richard-branson.jpg", alt="")
        blockquote.testimonial__text
          p.
            “Virgin Galactic is a bold entrepreneurial technology.
            It’s driving a revolution and Bitcoin is doing just
            the same when it comes to inventing a new currency.”
          cite.cite
            strong.cite__name Sir Richard Branson
            span.cite__about Founder of Virgin

      .testimonial
        .testimonial__pic
          img(src="img/bill-gates.jpg", alt="")
        blockquote.testimonial__text
          p.
            “Bitcoin is a technological tour de force.”
          cite.cite
            strong.cite__name Bill Gates
            span.cite__about Microsoft co-founder
  //END testimonials

  //BEGIN press
  section.l-center
    h2.title.title_mrgtop
      b Bitcoin in press
    ul.press
      li.press__item
        a(href="#")
          img(src="img/press/nyt.png", alt="")
      li.press__item
        a(href="#")
          img(src="img/press/forbes.png", alt="")
      li.press__item
        a(href="#")
          img(src="img/press/business-week.png", alt="")
      li.press__item
        a(href="#")
          img(src="img/press/bloomberg.png", alt="")
  //END press

  //BEGIN about bitcoin
  section.l-center-narrow
    h3.title.title_mrgtop
      b Bitcoin explained

    .media-container
      img(src="img/screen-shot.jpg", alt="", style="display:block;")

    h3.title.title_mrgtop
      b What is Bitcoin?

    .text
      p.
        Bitcoin is a <a href="#">decentralised</a>,  <a href="#">open-source</a> payment
        system made possible by decades of innovation in computer science. With Bitcoin,
        users can send money directly to one another, without the use of a third party
        and with fees totalling less than a few cents - all over the world.
      p.
        As digital currency, Bitcoin don't physically exist – they are actually numeric
        codes secured by layers of <a href="#">cryptography</a> and stored on your computer.
        Each individual Bitcoin is divisible into 100,000,000 individual increments,
        called Satoshis. As of 2015, there are over 14 million Bitcoin in circulation.
        <a href="#">Only 21 million will ever be mined</a>.
      p.
        Bitcoin's intangibility is perhaps best compared to the credit or debit card data
        you provide to online merchants when making purchases over the internet.
        Just as with the money on your card, you don't physically hold the cash.
        Unlike credit cards, there is no bank to deal with, no plastic to keep,
        and it can't be stolen just by somebody knowing the numbers on your card.

    h3.title.title_mrgtop
      b Who controls Bitcoin?

    .text
      p.
        Bitcoin and its payment processes are not controlled by any central authority.
        As a result, no single institution can exert control over the payment system
        as is the case with government-controlled banking systems. This prevents users
        from exposure to risks associated with fiat currencies like <a href="#">hyperinflation</a>,
        <a href="#">deflation</a> and more. Additionally, Bitcoin's structure and design makes the
        previously unimaginable possible: transactions are instantly completed, and there
        are no exploitative bank fees attached to your purchase.
  //END about bitcoin

  //BEGIN benefits
  section.skew-box
    .skew-box__inner
      .l-center
        h3.title.title_white
          | <b>What are the benefits</b> <br> of using Bitcoin?

        ul.benefits
          li.benefits__item
            strong Independence
            p.
              Unlike with traditional currencies, Bitcoin is not controlled
              by a Central Bank or a third party. The network does not
              provide any actor with an unfair advantage.
          li.benefits__item
            strong Simplicity
            p.
              Transferring Bitcoin to another part of the world requires only
              an internet connection and wallet application. Traditional bank transfers
              require excessive documentation and jumping through hoops.
          li.benefits__item
            strong Speed
            p.
              Bitcoin transactions can reach other parts of the world in
              matter of seconds. Bitcoin is for finance is what email was for postal
              industry: an infinitely cheaper and more efficient alternative.
          li.benefits__item
            strong Low Cost
            p.
              Bitcoin transaction fees are minuscule compared to regular banking
              transaction fees. With Bitcoin, users don't have to pay any financial
              institution. Fees for transactions of any size are about $0.02,
              and are directed to the miners who help keep Bitcoin secure.
          li.benefits__item
            strong Transparency
            p.
              Bitcoin transactions are stored in the blockchain, a public ledger,
              which is distributed across the Internet. This means that transaction
              records are freely accessible, and that anyone can look up Bitcoin
              transaction histories, addresses and mining results.
  //END benefits

  //BEGIN questions
  section
    .l-center-narrow
      h3.title.title_mrgtop
        b How do I get Bitcoin?

      .text
        p.
          Simply sign up <b>(or download one on your laptop)</b> for a Bitcoin wallet,
          locate your wallet address and use it to <b>receive</b> Bitcoin.
          You can sign up for Cubits Wallet, which has Buy/Sell features
          in over seventeen different currencies built into its interface, <a href="#">here</a>.
          With Cubits Wallet, buying Bitcoin is fast, simple and secure!

      h3.title.title_mrgtop
        b How do I spend Bitcoin?

      .text
        p.
          There are many ways for you to spend your Bitcoin.
          You can spend them online, at e-commerce sites. When you use
          Bitcoin to buy goods online, you will be directed to a pay
          interface where you <b>will get Bitcoin address to send Bitcoin to</b>.
          You can also spend them offline, at the point of sale <b>terminals</b>.
          When you use Bitcoin to pay for goods in physical stores, you can
          use a mobile wallet on <b>your smartphone</b> to make your purchase.

      .head-border
        h3.title
          b Where I can spend Bitcoin?

        .text.text_center
          p.
            Plenty of merchants accept Bitcoin! To see a full list
            of Cubits Merchants, click <a href="#">here</a>

      h3.title.title_mrgtop
        | <b>How is the price of</b> <br> Bitcoin calculated?

      .text
        p.
          The price of Bitcoin is freely formed on online marketplaces.
          Marketplaces provide buyers and sellers with a place to interface
          and exchange Bitcoin for an agreed upon price. At any point, the
          supply and demand of Bitcoin can move the price up or down.
          Cubits connects with several marketplaces to try and find
          the best price for its users. Read more about how we calculate
          the price for our Bitcoin exchanges <a href="#">here</a>

      h3.title.title_mrgtop
        | <b>Can the Bitcoin network</b> <br> be hacked?

      .text
        p.
          Currently, the technology required to hack the Bitcoin network doesn't exist.
          To do so, hackers would need to access to massive amounts of computer power,
          or to find a way to decode the complex cryptography that secures Bitcoin.
          Presently, neither of these scenarios are plausible.
        p.
          Your wallet or exchange service, however, can be hacked. This is why it is
          important to choose a wallet or exchange service with high security standards.
          At Cubits, we secure 100% of our customers' Bitcoin in <a href="#">deep cold storage</a>
          and secure all transactions with <a href="#">multi signature</a> technology.

    .skew-box.skew-box_two-colors
      .skew-box__inner
        .l-columns-text
          .l-column
            h3.title
              b Is Bitcoin safe?

            .text
              p.
                The Bitcoin network does not store or require any of your personal data,
                and keeps all of your transaction processes safe and secure with NSA-designed
                cryptographic SHA-256 protocol. The network also relies on decentralised
                consensus, which means that there is no single point of failure or weak
                link that can compromise the network. Additionally, a team of programmers
                is always working on refining and improving the code, and all modifications
                are publicly submitted for a consensus agreement.

          .l-column
            h3.title
              b What is a Bitcoin wallet?

            .text
              p.
                A Bitcoin wallet is an application that interfaces with the Bitcoin
                network and allows you to make transactions with Bitcoin. Different
                wallets offer different features depending on users' needs, but their
                purposes are all the same: they enable you to receive, store and send
                Bitcoin. For instance, the Cubits Wallet has buy and sell features built-in,
                making it convenient for your to convert your Bitcoin to local currency
                as soon as you receive them.

    .l-center-narrow
      h3.title.title_mrgtop
        b What is the blockchain?

      .text
        p.
          The blockchain is a distributed database that holds a transaction
          ledger containing every verified Bitcoin transaction ever completed.
          Each entry contains three parts: the sender's address, the receiver's
          address and the amount of Bitcoin sent. The blockchain is being
          continuously updated to show new transactions.

      h3.title.title_mrgtop
        b What is a Bitcoin private key?

      .text
        p.
          A Bitcoin private key is attached to a user's public address and
          allows users to send Bitcoin to another address. The private key
          proves to the network that you own the Bitcoin you are sending &mdash;
          it is similar to a password, so be sure to keep your private key safe.

    .color-wrapper.color-wrapper_pd110
      .l-columns-text
        .l-column
          h3.title
            b How do I get a Bitcoin address?

          .text
            p.
              Addresses are generated from your private key and allows you to receive
              Bitcoin from other users on the Bitcoin network. To get an address, simply
              register for a wallet service, and a 34-36 character address will be automatically
              generated from your private key. Your wallet address will function like a postal
              address: anyone who knows your address will be able to send you Bitcoin.

        .l-column
          h3.title
            b Who controls Bitcoin?

          .text
            p.
              Bitcoin is the first <a href="#">peer-to-peer</a> currency: Exchanging Bitcoin
              does not require a third party to facilitate the transaction, and the
              Bitcoin network is not controlled by any single party. The transaction
              process is automated and more secure than the traditional ways of
              managing money – there are no institutions or people who store and
              handle your money for you. Further, your money is not controlled by
              any government institution, <a href="#">fiat money</a>. This means that
              you have complete control over your Bitcoin.
  //END questions

  .btn-wrapper
    button.btn.btn_yellow.btn_large(type="button")
      | Create your free account

