extends _layout

block title
  title Help

block content
  //BEGIN help
  .l-center
    h1.title.title_large
      | Help section

    .l-columns-aside.js-tabs
      .l-column
        //BEGIN tab-content
        .tab-content.is-active
          h3.title.title_left
            b What is Cubits?
          .text
            p.
              Cubits is a European Bitcoin marketplace that provides users with
              a secure and convenient platform for exchanging, storing, and accepting
              Bitcoin via one easy-to-use interface. We also provide a secure,
              user-friendly wallet service with built-in Buy and Sell capabilities.
              For more information about us and why we started Cubits, visit our
              <a href="#">About Us page</a>. Learn more about our wallet and how
              it works <a href="#">here</a>.

          .media-container
            img(src="img/screen-shot.jpg", alt="", style="display:block;")

          h3.title.title_left.title_mrgtop
            | <b>How can I use Cubits</b> <br> to buy Bitcoin?
          .text
            p.
              Cubits is a platform for instantly buying and selling Bitcoin.
              We make it fast, easy, and secure. Simply register for a Cubits account,
              or create a Cubits Wallet - there are Buy and Sell features built right in.
              Read more about how to use the Cubits Wallet to buy Bitcoin <a href="#">here</a>.
            .media-container
              <img src="http://placehold.it/400x300"/>

          h3.title.title_left.title_mrgtop
            b How does Cubits protect my funds?
          .text
            p.
              User security is one of our top priorities. All of our users' Bitcoin
              are stored offline, in <a href="#">deep cold storage</a>, where they are inaccessible
              to internet-based attacks. Any online funds are Cubits' own Bitcoin, meaning
              that in the unlikely event of an attack all lost funds will be Cubits' own.
              Furthermore, all transactions are <a href="#">multi-signature</a>, which decreases
              your risk of fraudulent spending. Finally, users can enable two-factor
              authentication to further decrease the chance of someone else
              accessing their wallet.
          .media-container
              <img src="http://placehold.it/1920x1080"/>

          h3.title.title_left.title_mrgtop
            b Where is my Bitcoin address?
          .text
            p.
              The wallet address is located in the upper right corner of the Cubits Dashboard.
              Clicking on the ‘Get Address’ tab will open an new window with your QR code
              (a form of address that can be scanned to transfer funds)  and your Bitcoin address.

          table.table.text
            thead
              tr
                th No.
                th Provider
                th Description
                th Fee
                th Duration
            tbody
              tr
                td 1
                td Cash Accounts
                td Use your available balance on your CUBITS Cash Accounts to buy Bitcoin instantly.
                td 0%
                td Instant
              tr
                td 2
                td OnlineBank Transfer.com (OBT)
                td.
                  Online Bank Transfer.com is supported by over 100 banks within seven European countries.
                  It connects directly to your personal online banking tool. Have your online banking ID,
                  password, and TAN-list ready when selecting this payment method. Supported currencies:
                  EUR, GBP, HUF.
                td 0.8%
                td Instant
              tr
                td 3
                td Sofortüberweisung
                td.
                  Sofortüberweisung is supported by most banks within 10 of the European member countries.
                  Sofort connects to your personal online banking tool. Have your online banking ID, password,
                  and TAN-list ready when selecting Sofort. Supported currencies: EUR, GBP, HUF, PLN, CHF.
                td 1.8%
                td Instant
              tr
                td 4
                td OKPAY
                td.
                  All verified OKPAY users can instantly load, send, receive, and withdraw money from their
                  accounts. If you have a balance on your OKPAY account, we highly recommend
                  that you use this method.
                td min. €0.01
                td Instant
              tr
                td 5
                td SEPA
                td.
                  Use SEPA for bank transfers in the greater European area.
                  SEPA payments are wire transfers to and from our supporting bank.
                  We will provide you with the banking information necessary to initiate a transfer.
                td €0.85
                td 1-3 business days
              tr
                td 6
                td SWIFT
                td.
                  Use SWIFT for payments outside the SEPA zone. SWIFT payments are transfers to
                  and from our supporting payment bank. We will provide you with the banking
                  information necessary to initiate a transfer.
                td 0.15%,min. €15.02
                td 3-5 business days

          h3.title.title_left.title_mrgtop
            | <b>How is my bank account</b> <br> data secured?
          .text
            p.
              The Cubits team devoted over a year to developing a secure exchange platform according
              to best practices and even improved upon established industry standards.
              No sensitive user data is stored on publicly accessible servers, and every
              database request is tightly controlled and encrypted. Additionally, all
              encrypted logs are stored in external locations with comprehensive human
              intrusion detection systems.

          h3.title.title_left.title_mrgtop
            | <b>How is my verification</b> <br> document data secured?
          .text
            p.
              Cubits makes sure all your data is protected. We work with <a href="#">Jumio</a>,
              a PCI Level 1 compliant company, to ensure your data is never at risk of exposure.
            p.
              Jumio reg­u­larly con­ducts secu­rity audits, vul­ner­a­bility scans and
              pen­e­tra­tion tests to ensure com­pli­ance with secu­rity best prac­tices
              and stan­dards. To demon­strate PCI com­pli­ance a yearly on-site
              val­i­da­tion assess­ment by a QSA is car­ried out.

          h3.title.title_left.title_mrgtop
            b What if I forgot my password?
          .text
            p.
              In case you forgot the password, go to [link] to reset it. Enter your
              email address and follow the instructions you received in the email we send out to you.

          h3.title.title_left.title_mrgtop
            b What do I need to sign up?
          .text
            p.
              All you need to provide us with is your e-mail address and mobile number.
              It is possible to sign up with only an e-mail address, but we require
              SMS verification to enable buy and sell Bitcoin features with Cubits.

          h3.title.title_left.title_mrgtop
            | <b>I am a US citizen.</b> <br> Can I buy Bitcoin with Cubits?
          .text
            p.
              Cubits does not allow users from the US to perform Buy and Sell operations.
              US users can use Cubits Wallet, but will be unable to transfer money to
              Cubits accounts or access the Buy and Sell options.

            ul.marked-list
              li.
                Cubits does not allow users from the US to perform Buy and Sell operations.
                US users can use Cubits Wallet, but will be unable to transfer money to
                Cubits accounts or access the Buy and Sell options.
              li.
                Cubits does not allow users from the US to perform Buy and Sell operations.
                US users can use Cubits Wallet, but will be unable to transfer money to
                Cubits accounts or access the Buy and Sell options.
              li.
                Cubits does not allow users from the US to perform Buy and Sell operations.
                US users can use Cubits Wallet, but will be unable to transfer money to
                Cubits accounts or access the Buy and Sell options.

            p.
              Cubits does not allow users from the US to perform Buy and Sell operations.
              US users can use Cubits Wallet, but will be unable to transfer money to
              Cubits accounts or access the Buy and Sell options.

            ol.marked-list
              li.
                Cubits does not allow users from the US to perform Buy and Sell operations.
                US users can use Cubits Wallet, but will be unable to transfer money to
                Cubits accounts or access the Buy and Sell options.
              li.
                Cubits does not allow users from the US to perform Buy and Sell operations.
                US users can use Cubits Wallet, but will be unable to transfer money to
                Cubits accounts or access the Buy and Sell options.
              li.
                Cubits does not allow users from the US to perform Buy and Sell operations.
                US users can use Cubits Wallet, but will be unable to transfer money to
                Cubits accounts or access the Buy and Sell options.

        .tab-content
          h3.title.title_left
            | How does Cubits protect my funds?
          .text
            p.
              User security is one of our top priorities. All of our users' Bitcoin
              are stored offline, in <a href="#">deep cold storage</a>, where they are inaccessible
              to internet-based attacks. Any online funds are Cubits' own Bitcoin, meaning
              that in the unlikely event of an attack all lost funds will be Cubits' own.
              Furthermore, all transactions are <a href="#">multi-signature</a>, which decreases
              your risk of fraudulent spending. Finally, users can enable two-factor
              authentication to further decrease the chance of someone else
              accessing their wallet.

          h3.title.title_left.title_mrgtop
            | Where is my Bitcoin address?
          .text
            p.
              The wallet address is located in the upper right corner of the Cubits Dashboard.
              Clicking on the ‘Get Address’ tab will open an new window with your QR code
              (a form of address that can be scanned to transfer funds)  and your Bitcoin address.

          h3.title.title_left.title_mrgtop
            | How is my bank account data secured?
          .text
            p.
              The Cubits team devoted over a year to developing a secure exchange platform according
              to best practices and even improved upon established industry standards.
              No sensitive user data is stored on publicly accessible servers, and every
              database request is tightly controlled and encrypted. Additionally, all
              encrypted logs are stored in external locations with comprehensive human
              intrusion detection systems.

          h3.title.title_left.title_mrgtop
            | How is my verification document data secured?
          .text
            p.
              Cubits makes sure all your data is protected. We work with <a href="#">Jumio</a>,
              a PCI Level 1 compliant company, to ensure your data is never at risk of exposure.
            p.
              Jumio reg­u­larly con­ducts secu­rity audits, vul­ner­a­bility scans and
              pen­e­tra­tion tests to ensure com­pli­ance with secu­rity best prac­tices
              and stan­dards. To demon­strate PCI com­pli­ance a yearly on-site
              val­i­da­tion assess­ment by a QSA is car­ried out.

          h3.title.title_left.title_mrgtop
            | What if I forgot my password?
          .text
            p.
              In case you forgot the password, go to [link] to reset it. Enter your
              email address and follow the instructions you received in the email we send out to you.

          h3.title.title_left.title_mrgtop
            | What do I need to sign up?
          .text
            p.
              All you need to provide us with is your e-mail address and mobile number.
              It is possible to sign up with only an e-mail address, but we require
              SMS verification to enable buy and sell Bitcoin features with Cubits.

          h3.title.title_left.title_mrgtop
            | I am a US citizen. Can I buy Bitcoin with Cubits?
          .text
            p.
              Cubits does not allow users from the US to perform Buy and Sell operations.
              US users can use Cubits Wallet, but will be unable to transfer money to
              Cubits accounts or access the Buy and Sell options.
        //END tab-content

      aside.l-column
        //BEGIN tab
        .tab
          button.tab__btn.is-active(type="button")
            span Cubits general questions
          button.tab__btn(type="button")
            span Tab 2
        //END tab
  //END help
