extends _layout

block title
  title Merchans

block header
  //BEGIN toparea
  .toparea.toparea_b2b
    include _header
    .toparea__text
      .b2b-promo
        h1.bold-title
          | Accept Bitcoin Payments
        h2.title.title_left
          b Risk­free with Cubits instant <br> payment processing

        p.
          Accept Bitcoin and get paid straight into your bank account.
          <br>
          Cubits instantly converts your Bitcoin into the currency of your choice.
          <br>
          You also can choose to keep a portion of your earnings in Bitcoin.

        button.btn.btn_yellow.btn_large.btn_w365(type="button")
          | Start accepting BTC

        p.b2b-promo__api.
          We offer fast and seamless integration. Check out our API documentation <a href="#">here</a>.
  //END toparea

  //BEGIN how it works
  .l-center
    h3.title
      b How it works?

    .how-it-works
      .how-it-works__pic
      ul.how-it-works__text
        li You customers pay in BTC
        li Cubits converts Bitcoin into selected currency
        li Your receive regular payouts to your bank account
  //END how it works

  //BEGIN expand your business
  .skew-box.skew-box_expand.skew-box_shadow
    .skew-box__inner
      .l-center
        h3.title.title_white
          b Expand your business to Bitcoin users
          br
          span How people usually spend their Bitcoins?

      .l-center-wide
        .expand
          .expand__item
            .expand__icon
              i.icon.icon-gamepad
            .expand__text
              | Our Igaming partner
            .expand__logo
              img(src="img/partners/gametwist.png", alt="")
          .expand__item
            .expand__icon
              i.icon.icon-cart
            .expand__text
              | Easy shopping with Bitcoin
            .expand__logo
              img(src="img/partners/iphoria.png", alt="")
          .expand__item
            .expand__icon
              i.icon.icon-crowdfunding
            .expand__text
              | Non-profit crowdfunding
            .expand__logo
                img(src="img/partners/wikando.png", alt="")
          .expand__item
            .expand__icon
              i.icon.icon-graph
            .expand__text.
              Bitcoin is fast growing
              <br>itself. And it opens a row of
              <br>Financial instruments
          .expand__item
            .interface-4
          .expand__item
            .expand__icon
              i.icon.icon-plane
            .expand__text.
              Send money abroad with
              <br>no cost
  //END expand your business