extends _layout

block title
  title Merchans

block header
  //BEGIN toparea
  .toparea.toparea_b2b
    include _header
    .toparea__text
      .b2b-promo
        h1.bold-title
          | Accept Bitcoin Payments
        h2.title.title_left
          b Risk­free with Cubits instant <br> payment processing

        p.
          Accept Bitcoin and get paid straight into your bank account.
          <br>
          Cubits instantly converts your Bitcoin into the currency of your choice.
          <br>
          You also can choose to keep a portion of your earnings in Bitcoin.

        button.btn.btn_yellow.btn_large.btn_w365(type="button")
          | Start accepting BTC

        p.b2b-promo__api.
          We offer fast and seamless integration. Check out our API documentation <a href="#">here</a>.
  //END toparea

  //BEGIN how it works
  .l-center
    h3.title
      b How it works?

    .how-it-works
      .how-it-works__pic
      ul.how-it-works__text
        li You customers pay in BTC
        li Cubits converts Bitcoin into selected currency
        li Your receive regular payouts to your bank account
  //END how it works

  //BEGIN expand your business
  .skew-box.skew-box_expand.skew-box_shadow
    .skew-box__inner
      .l-center
        h3.title.title_white
          b Expand your business to Bitcoin users
          br
          span How people usually spend their Bitcoins?

      .l-center-wide
        .expand
          .expand__item
            .expand__icon
              i.icon.icon-gamepad
            .expand__text
              | Our Igaming partner
            .expand__logo
              img(src="img/partners/gametwist.png", alt="")
          .expand__item
            .expand__icon
              i.icon.icon-cart
            .expand__text
              | Easy shopping with Bitcoin
            .expand__logo
              img(src="img/partners/iphoria.png", alt="")
          .expand__item
            .expand__icon
              i.icon.icon-crowdfunding
            .expand__text
              | Non-profit crowdfunding
            .expand__logo
                img(src="img/partners/wikando.png", alt="")
          .expand__item
            .expand__icon
              i.icon.icon-graph
            .expand__text.
              Bitcoin is fast growing
              <br>itself. And it opens a row of
              <br>Financial instruments
          .expand__item
            .interface-4
          .expand__item
            .expand__icon
              i.icon.icon-plane
            .expand__text.
              Send money abroad with
              <br>no cost
  //END expand your business

  //BEGIN testimonial
  .l-center
    .member.member_wide
      .member__pic
        img(src="img/Wikando_GmbH_Peter_Kral.jpg", alt="")
      .member__info
        blockquote.member__quote
          p.
            “ We are always looking for ways to expedite the donation process, whether it’s making it faster,
            cheaper, more secure, or more readily accessible to anyone, anywhere. Accepting Bitcoin was the
            obvious choice, and Cubits helped us make this choice a reality. ”
          cite.member__cite
            | Peter Kral <br> CTO at Wikando
  //END testimonial

  //BEGIN numbers
  .color-wrapper.color-wrapper_pd90
    hr.divider.divider_sm
    .l-center-narrow
      ul.numbers-list.numbers-list_darkblue
        li.numbers-list__item
          .number.number_darkblue
            span Number of Wallets Globally*
            strong.number__value 8,457,000
            small.number__small-text * Coindesk report Q1 2015
        li.numbers-list__item
          .number.number_darkblue
            span Number of Merchants Globally*
            strong.number__value 88,000
  //END numbers


  //BEGIN for business owner
  h2.title.title_mrgtop
    | <b>Are you a business owner?</b> <br> This why you should accept Bitcoins

  .skew-box.skew-box_advantages.skew-box_two-colors
    .skew-box__inner
      .l-columns-wide
        .l-column
          .advantage.advantage_small
            .advantage__pic
              i.icon.icon-people
            .advantage__text
              strong.title
                | Increase your <br> Customer base
              .advantage__number
                strong 7%
                i.icon.icon-arrow-up
                spam On average
              ul.marked-list.marked-list_no-mrg.text
                li Millions of Bitcoin users worldwide
                li Over 100K daily Bitcoin transactions
                li 3.400.000 social media mentions of ‘Bitcoin’ in 2013***
              span.footnote
                | ***PwC, Digital Disruptor, 2014
        .l-column
          .advantage.advantage_small
            .advantage__pic
              i.icon.icon-moneybox
            .advantage__text
              strong.title
                | Decrease your <br> Costs
              .advantage__number
                strong 3%
                i.icon.icon-arrow-down
                spam On average
              ul.marked-list.marked-list_no-mrg.text
                li Competitive fee structure
                li No chargeback risk
                li Elimination of costly middlemen
  //END for business owner

  //BEGIN api link
  .l-center-wide
    h2.title
      b Custom integration tools allows you to connect your business
      br
      span whatever technologies are used under your hood

    .btn-wrapper
      a.btn.btn_darkblue.btn_large(href="#")
        | API Documentation
  //END api link

  //BEGIN shopping plugins
  .plugins
    h2.title
      b You can also use our shopping plugins

    ul.plugins__list
      li: a(href="#"): img(src="img/plugins/presta-shop.png", alt="")
      li: a(href="#"): img(src="img/plugins/shopify.png", alt="")
      li: a(href="#"): img(src="img/plugins/wordpress.png", alt="")
      li: a(href="#"): img(src="img/plugins/oscommerce.png", alt="")
      li: a(href="#"): img(src="img/plugins/opencart.png", alt="")
      li: a(href="#"): img(src="img/plugins/shopware.png", alt="")
      li: a(href="#"): img(src="img/plugins/magento.png", alt="")
      li: a(href="#"): img(src="img/plugins/wp-ecommerce.png", alt="")
      li: a(href="#"): img(src="img/plugins/woocommerce.png", alt="")
  //END shopping plugins


  //BEGIN help
  .color-wrapper.color-wrapper_pd90
    hr.divider.divider_sm
    .l-center-narrow
      h3.title
        b We are always here to help!

      .expert
        .expert__pic
          img(src="img/omar-gallo.jpg", alt="")
        b.expert__info.demi
          b.expert__name.demi Omar Gallo <br> Head of Software Integration
          br
          br
          b.expert__contact.demi
            a(href="mailto:Omar.gallo@cubits.com") Omar.gallo@cubits.com
            br
            a(href="tel:+4915001232334") +49 1500 123 23 34
  //END help

  //BEGIN promo
  .l-center.promo
    h2.title
      b Here you go accepting bitcoins!

    .btn-wrapper
      button.btn.btn_yellow.btn_large.btn_w365(type="button")
        | Start accepting bitcoin
  //END promo
