extends _layout

block title
  title Password reset message

block content
  .l-center
    h1.title
      b Password reset

    .text.text_center
        strong.demi.
          We sent an email to account associated with address you entered.
          <br>
          Please check your email.
        br
        br
        br

        a.btn.btn_darkblue.btn_w300(href="/")
          | Back to homepage



