extends _layout

block title
  title Password reset

block content
  .l-center
    h1.title
      b Password reset

    form.form.form_narrow
      .field
        input.input(type="email", placeholder="Email")
        p.error-msg
          | Looks like you’ve entered the wrong email address

      button.btn.btn_yellow.btn_center.btn_w220(type="submit")
        | Reset



