extends _layout

block title
  title Privacy

block content
  //BEGIN privacy
  .l-center-narrow
    h1.bold-title.bold-title_mrg
      | Privacy policy

    .text.text_privacy
      p.
        Last updated: 2014-12-11
      p.
        Dooga Ltd. company number 4430228, whose registered office is BEC 101,
        50 Cambridge Road, Barking, IG11 8FG, trading as Cubits (We)
        are committed to and respecting your privacy.
      p.
        This policy (together with our terms of use and any other documents referred to on it)
        sets out the basis on which any personal data we collect from you, or that you
        provide to us, will be processed by us.  Please read the following carefully
        to understand our views and practices regarding your personal data and how
        we will treat it. By visiting https://cubits.com you are accepting and
        consenting to the practices described in this policy.
      p.
        For the purpose of the Data Protection Act 1998 (the Act), the data
        controller is Dooga Ltd.  Information we may collect from you.
      p.
        We may change our privacy policy from time to time. Upon notified
        of changes to the new privacy policy, if you continue to use the
        services then you will have deemed to have accepted the new terms.
      br

      p.
        We may collect and process the following data about you:

      ul
        li.
          Information you give us. You may give us information about you by filling
          in forms on our site https://cubits.com (our site) or by corresponding
          with us by phone, e-mail or otherwise. This includes information you
          provide when you register to use our site, and use our services and
          when you report a problem with our site. The information you give us may
          include your name, address, e-mail address and phone number,
          financial and credit card information, personal description and photograph.
        li.
          Information we collect about you. With regard to each of your visits to our
          site we may automatically collect the following information:
        li.
          technical information, including the Internet protocol (IP) address used
          to connect your computer to the Internet, your login information, browser
          type and version, time zone setting, browser plug-in types and versions,
          operating system and platform;
        li.
          information about your visit, including the full Uniform Resource Locators
          (URL) clickstream to, through and from our site (including date and time);
          products you viewed or searched for; page response times, download errors,
          length of visits to certain pages, page interaction information (such as scrolling,
          clicks, and mouse-overs), and methods used to browse away from the page and any
          phone number used to call our customer service number.
        li.
          Information we receive from other sources. We may receive information about you
          if you use any of the other websites we operate or the other services we provide.
          In this case we will have informed you when we collected that data that it may
          be shared internally and combined with data collected on this site. We are also
          working closely with third parties (including, for example, business partners,
          sub-contractors in technical, payment and delivery services, advertising
          networks, analytics providers, search information providers, credit
          reference agencies) and may receive information about you from them.

      h3.title.title_left.title_small.title_mrg0
        b Cookies
      p.
        Our website uses cookies to distinguish you from other users of our website.
        This helps us to provide you with a good experience when you browse our website
        and also allows us to improve our site. For detailed information on the cookies
        we use and the purposes for which we use them see our Cookie policy.

      h3.title.title_left.title_small.title_mrg0
        b Uses made of the information

      p.
        We use information held about you in the following ways:

      ul
        li.
          Information you give to us. We will use this information:
        li.
          to carry out our obligations arising from any contracts entered into
          between you and us and to provide you with the information, products
          and services that you request from us;
        li.
          to provide you with information about other goods and services
          we offer that are similar to those that you have already
          purchased or enquired about;
        li.
          to provide you, or permit selected third parties to provide you,
          with information about goods or services we feel may interest you.
          If you are an existing customer, we will only contact you by electronic
          means (e-mail or SMS) with information about goods and services similar
          to those which were the subject of a previous sale or negotiations
          of a sale to you. If you are a new customer, and where we permit
          selected third parties to use your data, we (or they) will
          contact you by electronic means only if you have consented to this.
          If you do not want us to use your data in this way, or to pass your
          details on to third parties for marketing purposes, please let us
          know at support@cubits.com and we will update our records;
        li.
          to notify you about changes to our service;
        li.
          to ensure that content from our site is presented in
          the most effective manner for you and for your computer;
        li.
          Information we collect about you. We will use this information:
        li.
          to administer our site and for internal operations, including troubleshooting,
          data analysis, testing, research, statistical and survey purposes;
        li.
          to improve our site to ensure that content is presented in the
          most effective manner for you and for your computer;
        li.
          to allow you to participate in interactive features of
          our service, when you choose to do so;
        li.
          as part of our efforts to keep our site safe and secure;
        li.
          to measure or understand the effectiveness of advertising we serve to you and others,
          and to deliver relevant advertising to you;
        li.
          to make suggestions and recommendations to you and other users of our site about
          goods or services that may interest you or them.
        li.
          Information we receive from other sources. We may combine this information
          with information you give to us and information we collect about you.
          We may us this information and the combined information for the purposes
          set out above (depending on the types of information we receive).
        li.
          Information we verify. As part of our due diligence process you
          agree for us to send to third parties your personal data to be
          verified for identification
  //END privacy