extends _layout

block title
  title Security Page

block content
  //BEGIN security-intro
  .security-intro
    .l-center-narrow
      h1.title.title_lrg
        i.icon.icon-safe
        span Let’s talk security

    hr.divider.divider_md.divider_mrg60

    .l-center-narrow
      .member.member_mrg
        .member__pic
          img(src="img/tim-rheder.png", alt="")
        .member__info
          blockquote.member__quote
            |  <strong>„We dont gamble</strong> <br> with your money“
            cite.member__cite
              | Tim Rheder <br> CEO of Cubits
  //END security-intro

  //BEGIN engineering
  section.gray-wrapper
    hr.divider.divider_md
    .l-center-narrow
      h2.title
        i.icon.icon-gears
        b This is German engineering
        br
        span Berlin in-house Bitcoin development

      p.text.
        Cubits is German Engineering at its best. 
        We combine uncompromised security and cutting 
        edge technologies with ease of use to bring our 
        customers an unbeatable experience. Based in Berlin, 
        our team strives for excellence in design and technology, 
        putting us at the forefront of Bitcoin development. 
        We spent over a year working with experts in the field 
        to build the most secure setup to protect our servers 
        and your Bitcoin from unauthorized access.
  //END engineering

  //BEGIN about team
  section.l-center-narrow
    h2.title
      i.icon.icon-heart-bitcoin
      b We are a team of bitcoin geeks
      br
      span from all over europe

    .text
      p.
        We are Bitcoin experts with unbeatable understanding of Bitcoin 
        technology and its challenges. Our team includes developers 
        with 15 years of experience in creating web applications as 
        well as specialists from various industries, including 
        telecommunications, financial services, stock trading and 
        Bitcoin development. The founders of Bitcoin Austria, the 
        Bitcoin Foundation Ukraine and various Bitcoin meetup organizers 
        are just a few of the dedicated Bitcoiners comprising our 
        business analytics and management team.
      blockquote.
        »It took us over a year to come up with unique security approach.«
      p.
        Above all, we want to create an unbeatable service 
        for our customers because we value quality and usability.

  //END about team