extends _layout

block title
  title Sign Up Message

block content
  .l-center-narrow
    h1.title
      b Create your Cubits bitcoin wallet

    .text.text_center
      p: strong.lightblue.
        THANK YOU FOR CREATING AN ACCOUNT WITH CUBITS!
      p: b.demi.
        Please check your email and followthe instructions provided

      br

      a.btn.btn_darkblue.btn_w300(href="/")
        | Back to homepage



