extends _layout

block title
  title terms.jade

block content
  //BEGIN terms and conditions
  .l-center-narrow
    h1.bold-title.bold-title_mrg
      | Terms and conditions

    h2.title.title_left.title_mrg0
      b Terms of Business
    .text
      p.
        Last updated: 2014-12-11
      p
        strong.title.title_small.title_left.title_mrg0
          | 1.  DEFINITIONS
        | 1.1 In these Terms of Business (the "Terms"), the following words,
        | expressions and phrases shall have the following meanings,
        | save for where otherwise specified or where the context requires otherwise:
        br
        | "Applicable Law"  means any applicable law, rules or regulation
        br
        | "Cubits IP" has the meaning given in Clause 12.1
        br
        | "Exchange Service"  has the meaning given in Clause 3.1.2
        br
        | "Merchant"  has the meaning given in Clause 3.1.1
        br
        | "Merchant Service"  has the meaning given in Clause 3.1.1
        br
        | "Proceedings"   has the meaning given in Clause 39.2
        br
        | "Services"  has the meaning given in Clause 3.1
        br
        | "Taxes" has the meaning given in Clause 28.1
        br
        | "User Content"  has the meaning given in Clause 15.1
        br
        | "Wallet Service"  has the meaning given in Clause 3.1.3
        br
        | "Website" means https://cubits.com

      p.
        1.2 In these Terms (except where the context otherwise requires):
        <br>
        1.2.1 use of the singular includes the plural (and vice versa) and
        use of any gender includes the other genders;
        <br>
        1.2.2 a reference to a Party is to a party to these Terms and shall
        include that Party's personal representatives, successors or permitted assignees;
        <br>
        1.2.3 a reference to persons includes natural persons, firms, partnerships,
        bodies corporate and corporations, and associations, organisations,
        governments, states, foundations, trusts and other unincorporated
        bodies (in each case whether or not having separate legal personality
        and irrespective of their jurisdiction of origin, incorporation or residence)
        <br>
        1.2.4 a reference to a Recital, Clause or Schedule is to the relevant recital
        or clause of or schedule to these Terms; a reference to a sub-clause or paragraph
        is to the relevant sub-clause or paragraph of the Clause or Schedule in which it appears.

      p.
        1.3 The Schedule forms an integral part of these Terms and have effect
        as if set out in full in the body of these Terms. A reference to
        these Terms includes the Schedule. -- relevant only if there is the Services Schedule.
        <br>
        1.4 The table of contents and headings are included for convenience only
        and will not affect the construction or interpretation of these Terms.
        <br>
        1.5 Any reference to a statute, statutory provision or statutory
        instrument includes a reference to that statute, statutory provision
        or statutory instrument together with all rules and regulations made
        under it as from time to time amended, consolidated or re-enacted.

      p
        strong.title.title_small.title_left.title_mrg0
          | 2.  ABOUT CUBITS AND TERMS OF BUSINESS
        | 2.1 We, Dooga Ltd., company number 4430228, whose registered office is BEC 101,
        | 50 Cambridge Road, Barking, IG11 8FG, trading as Cubits ("Cubits", "we", "our" or "us").

      p.
        2.2 We are an electronic platform that buys and sells bitcoins
        and provides bitcoin processing services for merchants;
        we also operate and maintain bitcoin wallets.

      p.
        2.3 These Terms govern your use of the Services provided by us
        through the Website or through any other means.

      p.
        2.4 "You" or "your" mean the customer to which we will be providing
        the Services and the person signing below or otherwise agreeing to
        the Terms on behalf of the customer. Please read the Terms carefully;
        by using the Services, you agree to the Terms and
        confirm that you accept them.

      p
        strong.title.title_small.title_left.title_mrg0
          | 3.  SERVICES
        | 3.1 We may provide you with the following services (the "Services"):
        br
        | 3.1.1 users who intend to sell goods and/or services (each, a "Merchant")
        | and who wish to accept bitcoin from purchasers as a method of payment
        | may use a suite of tools and related services for this purpose ("Merchant Service");
        br
        | 3.1.2 users will be able to exchange fiat for bitcoin with
        | us or vice versa ("Exchange Service")
        br
        | 3.1.3 we may host one or more bitcoin accounts that allows users
        | to store, track, transfer and manage their bitcoin and account
        | information and through which Cubits can facilitate bitcoin transactions
        | pursuant to instructions submitted by a user or authorised entity
        | to Cubits ("Wallet Service").

      p.
        3.2 You authorise us to receive, hold and disburse funds on your behalf and
        to take any and all actions that we think are necessary or desirable
        to provide the Services and to comply with Applicable Law.

  //END terms and conditions